# File: .env.sample
DISCORD_TOKEN=your_discord_token_here
DATA_DIR=./data
YOUTUBE_API_KEY=your_youtube_api_key_here
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

############
# Optional #
############

CACHE_LIMIT=2GB

# See the README for details on the below variables

BOT_STATUS="online"
BOT_ACTIVITY_TYPE="PLAYING"
BOT_ACTIVITY_URL=
BOT_ACTIVITY="music for Imperial Cult"

PREFER_ECHOELYSIUM="true"
FALLBACK_YOUTUBE="true"

DOWNLOAD_URL=your_download_url_here
DOWNLOAD_KEY=your_download_key_here

DATABASE=postgres://username:password@host:port/database?sslmode=require

ENABLE_SPONSORBLOCK=true
SPONSORBLOCK_TIMEOUT=5